* {
  margin: 0;
  padding: 0;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  box-shadow: 0 3px 3px 5px rgb(128, 128, 128, 0.5);
}

#main-heading {
  background-color: white;
  font-size: 5vw;
  width: 90%;
  text-align: center;
}

#images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#images img {
  max-width: 100%;
}
#img1 {
  height: 3rem;
}
#img2 {
  height: 3.3rem;
}
.container {
  display: flex;
  justify-content: center;
}
.main-container {
  box-shadow: 0 4px 4px grey;
  border-radius: 0.5rem;
  width: 40vw;
  margin-top: 2rem;
}
@media (max-width: 500px) {
  .main-container {
    width: 70vw;
    height: 40vh;
    margin-top: 10rem;
  }
}
.name,
.date {
  display: flex;
  font-size: 2vw;
  margin-top: 1rem;
  gap: 2vw;
}
input {
  width: 30vw;
}
.bttn {
  display: flex;
  justify-content: center;
  gap: 5vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.buttons {
  font-size: 1.5vw;
  padding: 0.5vw;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 3px 3px grey;
}
button:hover {
  color: white;
  background-color: rgb(39, 90, 222);
}
.result {
  font-size: 1.5vw;
}
.representation {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 2vw;
}
